<div class="row full-height">
  <div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <ul class="nav navbar-stacked navbar-inverse">
      <li class="active">
        <a href="#">Place 1</a>
      </li>
      <li>
        <a href="#">Place 2</a>
      </li>
      <li>
        <a href="#">Place 3</a>
      </li>
    </ul>
  </div>

  <div class="main col-md-9 col-md-offset-3 full-height">
    <div class="form-group">
      <label for="sel1">Select filter:</label>
      <select class="form-control" data-bind="options: filter"></select>
    </div>
    <div class="panel panel-default full-height">
      <div class="panel-body full-height">
        <div id="google-map"></div>
      </div>
    </div>
  </div>
</div>
