<div class="row full-height">
  <div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <div class="row">
      <ul class="nav navbar-stacked navbar-inverse" data-bind="foreach: yelpPlaces">
        <li data-toggle="sidebar" data-target=".sidebar-left" data-bind="visible: $parent.placeIsVisible($data), click: function (place, event) {$parent.locationClick($index(), place, event);}">
          <a href="#">
            <div data-bind="text: name"></div>
            <small data-bind="text: location.display_address"></small>
          </a>
        </li>
      </ul>
  </div>
  </div>

  <div class="main col-md-9 col-md-offset-3 full-height">
    <alerts params="alerts: alerts"></alerts>
    <div class="form-group">
      <label for="sel1">Select filter:</label>
      <select class="form-control" data-bind="options: filterOptions, value: selectedFilter, event: {change: filterChange}"></select>
    </div>
    <div class="panel panel-default full-height">
      <div class="panel-body full-height">
        <div id="google-map"></div>
      </div>
    </div>
  </div>
</div>
