#page {
	margin-top: 80px;
}

html {
	height: 100%;
}

body {
	height: calc(100% - 80px);
}

#page, #google-map, .full-height {
	height: 100%;
}

.yelp-logo {
	background-color: #D32323;
	height: 4em;
}
